.button {
  border: 1px solid var(--color-gray-2);
  background-color: var(--color-gray-3);
  padding: 0.5rem 0.7rem;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
  font-weight: 500;
  opacity: 0.9;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &--link {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
  }

  &--primary {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
  }
}
